.slide_notice img {border:0 none}
.slide_notice .slide_content h4 {display:none}
.slide_notice .slide_content .cls_area input {vertical-align:middle}
.slide_notice .slide_content .cls_area a {color:#fff;text-decoration:none}

.pop_layer .pop_line {padding-right:5px;background:#000;color:#fff;font-size:12px;text-align:left}
.pop_layer .pop_line a {color:#fff;text-decoration:none}