@charset "euc-kr";

/* nanum-gothic-regular - korean_latin */
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/nanum-gothic-v13-korean_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('NanumGothic'),
       url('../fonts/nanum-gothic-v13-korean_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/nanum-gothic-v13-korean_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/nanum-gothic-v13-korean_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/nanum-gothic-v13-korean_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/nanum-gothic-v13-korean_latin-regular.svg#NanumGothic') format('svg'); /* Legacy iOS */
}
/* nanum-gothic-700 - korean_latin */
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/nanum-gothic-v13-korean_latin-700.eot'); /* IE9 Compat Modes */
  src: local('NanumGothic Bold'), local('NanumGothic-Bold'),
       url('../fonts/nanum-gothic-v13-korean_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/nanum-gothic-v13-korean_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/nanum-gothic-v13-korean_latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/nanum-gothic-v13-korean_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/nanum-gothic-v13-korean_latin-700.svg#NanumGothic') format('svg'); /* Legacy iOS */
}
/* nanum-gothic-800 - korean_latin */
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/nanum-gothic-v13-korean_latin-800.eot'); /* IE9 Compat Modes */
  src: local('NanumGothic ExtraBold'), local('NanumGothic-ExtraBold'),
       url('../fonts/nanum-gothic-v13-korean_latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/nanum-gothic-v13-korean_latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/nanum-gothic-v13-korean_latin-800.woff') format('woff'), /* Modern Browsers */
       url('../fonts/nanum-gothic-v13-korean_latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/nanum-gothic-v13-korean_latin-800.svg#NanumGothic') format('svg'); /* Legacy iOS */
}

body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select {margin:0;padding:0}
body, input, textarea, select, button, table {font-family:'Nanum Gothic','돋움',dotum,applegothic,sans-serif;font-size:12px; height: 28px;}
img, fieldset {border:0 none}
ul, ol {list-style:none}
address {font-style:normal}
a {color:#000;text-decoration:none}
a:hover, a:active, a:focus {text-decoration:underline}
legend, hr, caption {display:none}
.blind {position:absolute;top:0;left:0;width:0;height:0;font-size:0;line-height:0;overflow:hidden}
html, body {height:100%}
body {background-color:#fff}
/* html {filter: expression(document.execCommand("BackgroundImageCache", false, true));} ie6 깜박임 없애기 */

.mg_top {margin-top:10px}
.mg_top20 {margin-top:30px}
.mg_bottom {margin-bottom:10px}
.mg_bottom20 {margin-bottom:20px}
.pd_top {padding-top:10px}

.left {text-align:left}
.center {text-align:center}
.middle {vertical-align:middle}

.fleft {float:left}
.fright {float:right}
.clear {clear:both}

.red {color:#fd4141}
.blue {color:#0c71cb}
.black {color:#000}
.white {color:#fff}
.purple {color:#800080}

.today { background-color: #ff6559;} 

.bold {font-weight:bold}
.mormal {font-weight:normal}
.pointer {cursor:pointer}

.fontc {color:#dc143c}
.fontc2 {color:#0651f7}

.fonts {font-size:14px}
.fonts2 {font-size:22px}

#wrap {width:100%}
//#container {width:1022px;margin:0 auto}
#container {min-width:750px;max-width:1022px;margin:0 auto}

.top_line {height:15px;margin-top:5px;font-weight:bold;text-align:right}

.top_area {position:relative;width:100%;height:64px;margin-top:3px;background:#61697c; color:#fff; line-height:64px;}


.top_area .logo {float:left; width:363px; text-align:center; background-color:#495164;}
.top_area .logo h1 {position:relative; float:left; width:200px; height:64px;}
.top_area .logo .title_logo {display:block;height:61px;overflow:hidden}
.top_area .logo h1 a {text-decoration:none; color:#fff; }
.top_area .logo h1 a span {position:relative;}

.top_area .tmn {display:inline;float:right; margin-right: 40px;}
.top_area .tmn dl dt dd {float:left;}
.top_area .tmn dd a {display:inline-block; height:13px;margin-left:-4px;text-decoration:none; color:#FFF; float:left; padding-right:30px;}
.top_area .tmn dd a span {position:relative;}


.admin_link { float:right; margin:0; padding-right:30px;  }
.admin_link a {color:#fafafa; text-decoration: underline; }

.step_area {position:relative;width:100%;height:50px;margin-top:15px;z-index:1}
.step_area li {display:inline-block;float:left;width:149px;height:50px;margin-left:1px;background:url("./images/img_common.gif") no-repeat 0 0;text-decoration:none;overflow:hidden}
.step_area li span {position:relative;z-index:-1}
.step_area li.step1_on {width:149px;margin-left:0;background-position:0 -115px}
.step_area li.step2_on {width:149px;background-position:0 -165px}
.step_area li.step3_on {width:149px;background-position:0 -215px}
.step_area li.step4_on {width:149px;background-position:0 -265px}
.step_area li.step5_on {width:149px;background-position:0 -315px}
.step_area li.step1 {width:149px;margin-left:0;background-position:-149px -115px}
.step_area li.step2 {width:149px;background-position:-149px -165px}
.step_area li.step3 {width:149px;background-position:-149px -215px}
.step_area li.step4 {width:149px;background-position:-149px -265px}
.step_area li.step5 {width:149px;background-position:-149px -315px}

.tbl_line {width:100%}
.l_part {float:left;width:460px;}
.r_part {margin-left:480px;flex-grow:3;height:auto !important;height:170px;border:1px solid #e5e5e5; font-family:'돋움'; margin-top: 44px;}


.r_part ul {margin-top:10px}
.r_part ul li {height:18px}
.et_title {margin:5px 5px 0}
.et_contents {margin-top:5px}

.ttbox {padding-top:0;}
.pn_box {display:inline;float:left;position:relative; background:#666;border:1px solid #434343;overflow:hidden;z-index:100;}
.pn_box h2 {padding:10px 15px 0;color:#FFF;font-size:12px;font-weight:normal;letter-spacing:-1px;}
.pn_box h3 {padding:5px 15px 0;color:#FFF;font-size:16px;letter-spacing:-1px;}
.pn_box h4 {padding:10px 10px 0;color:#FFF;font-size:16px;letter-spacing:-1px;}

.sb_box {position:relative;width:100%; height:100%; text-align:center; }
.sb_box .txt_memo {background-color:#fafafa; padding:20px; }
.sb_box .txt_memo ul {line-height:17px; line-height:20px;}
.sb_box .usesdate {padding:20px 0 10px ;font-size:16px;font-weight:bold}
.sb_box .roomctg {float:right;padding:10px}

.ico_wrap { margin:0; float:right;      position: absolute;    right: 0;    bottom: 17px;}
.ico_wrap li { float:left; margin-right:10px; font-family:'돋움'; height:19px; }
.ico_wrap li span { vertical-align: middle;}

.ico_1	{width: 18px; height: 15px; padding: 2px 0; text-align: center; color:#FFF; font-family:'돋움'; font-style: normal; background-color:#a7c4ca; margin-right:3px; float: left;}
.ico_5  {width: 18px; height: 15px; padding: 2px 0; text-align: center; color:#FFF; font-family:'돋움'; font-style: normal; background-color:#8fc31f; margin-right:3px; float: left;}
.ico_2  {width: 18px; height: 15px; padding: 2px 0; text-align: center; color:#FFF; font-family:'돋움'; font-style: normal; background-color:#478ec1; margin-right:3px; float: left;}
.ico_3  {width: 18px; height: 15px; padding: 2px 0; text-align: center; color:#FFF; font-family:'돋움'; font-style: normal; background-color:#fb6579; margin-right:3px; float: left;}
.ico_4  {width: 18px; height: 15px; padding: 2px 0; text-align: center; color:#FFF; font-family:'돋움'; font-style: normal; background-color:#a388cb; margin-right:3px; float: left;}

.h_area {height:35px;overflow:hidden; margin:30px 0 15px;}
.h_area h2 {height:15px;margin:10px 0 10px 5px; }
.h_area h2.room {width:100%;background-position:0 0}
.h_area h2.optserv {width:100%;background-position:0 -16px}
.h_area h2.rinfo {width:114px;background-position:0 -33px}
.h_area h2.rconfirm {width:114px;background-position:0 -49px}
.h_area h2.rcancel {width:114px;background-position:0 -65px}
.h_area h2.rguide {width:114px;background-position:0 -82px}
.h_area h2.mlogin {width:114px;background-position:0 -131px}
.h_area h2.notice {background-position:0 -99px}
.h_area h2.pinfo {width:100%;background-position:0 -115px}
.h_area h2 span {display:block}
.h_area .aa {display:block}

.bt_area {margin:20px 0 10px;text-align:center}
.bt_area a {display:inline-block;position:relative;overflow:hidden}
.bt_area a span {display:block;width:90px;height:44px;background:url("./images/img_btn.gif") no-repeat 0 0;text-indent:-9000px;cursor:pointer}
.bt_area a .cfm {background-position:0 0}
.bt_area a .ccl {background-position:-105px 0}
.bt_area a .step1 {background-position:0 -54px}
.bt_area a .step2 {background-position:0 -108px}
.bt_area a .step3 {background-position:0 -162px}
.bt_area a .cplt {background-position:0 -218px}

.rs_mon {text-align:left; width:50%; height:25px; padding-bottom:20px;}
.rs_mon a { text-decoration: none; }

.tbl_line {}

.p_info dl { width:100%; float: left; height:auto !important; }
.p_info dt { float:left; width:80px; font-size:13px; font-weight:800; height:25px; padding-left:15px; }
.p_info dd {  width:100%;  height:25px; color:#888888;}


.dt_select dl {float:left; text-align:center; padding:7px;}

.p_info dl>dd:nth-of-type(3), dl>dt:nth-of-type(3) {
	height:auto !important;
}

.p_info dl>dd:nth-of-type(4), dl>dt:nth-of-type(4) {
	height:auto !important;
	min-height:56px;
}

.p_info div {
	padding-left: 95px;
    line-height: 20px;
    height: auto !important;
	margin-bottom:10px;
}

.ri_open {display:inline-block;width:18px;height:17px;background:url("./images/img_common.gif") no-repeat 0 -392px;text-indent:-9000px;vertical-align:bottom;cursor:pointer}


.cal_top { width:100%; margin:0; padding:0; height:45px; position: relative;}


.tbl_cal, .tbl_cal th, .tbl_cal td {border:0}
.tbl_cal {width:100%;border-collapse:collapse;  font-family: '돋움';}
.tbl_cal th {width:107px;padding:13px 2px;border-right:1px solid #e5e5e5;border-left:1px solid #e5e5e5;background-color:#f4f4f4;font-size:14px;font-weight:bold;text-align:center}
.tbl_cal td {height:100px;padding:3px 3px;border:1px solid #e5e5e5;vertical-align:top}
.tbl_cal td.blank_box {background:#f6f6f6; height:0px; padding:0;}
.tbl_cal td .day_box {float:left;width:20px;text-align:center}
.tbl_cal td .holi_box {float:right;width:74px}
.tbl_cal td .day {font-size:14px;font-weight:bold}
.tbl_cal td .not_box {padding:3px 0 5px;text-align:center}
.tbl_cal td .charge_box {padding:5px 0 15px;width:110px;}
.tbl_cal td .charge_box span {letter-spacing:-1px}
.tbl_cal td ul li {padding-bottom:5px; padding-bottom: 10px; }
.tbl_cal td ul li span {letter-spacing:-1px; vertical-align: -webkit-baseline-middle;}

.pre_month { border: 1px solid #aaaaaa; padding: 4px 8px; margin-right: 10px; }
.next_month { border: 1px solid #aaaaaa; padding: 4px 8px; margin-left: 10px; }

.sel_date { width:30px; height:30px; border-radius:15px; background-color:#ff6559; margin: 0 auto; line-height:30px;}

#rspop {display:none;position:absolute;padding:5px;background:#fff;border:2px solid #ff0000;font-size:12px;z-index:101}

#loading {display:none;position:absolute;top:50%;left:50%;width:48px;height:48px;background:url('./images/loader.gif') no-repeat 0 0}

.nt_layer {display:none;position:fixed;_position:absolute;top:0;left:0;width:100%;height:100%;z-index:10000}
.nt_layer .nt_bg {position:absolute;top:0;left:0;width:100%;height:100%;background:#000;opacity:.5;filter:alpha(opacity=50)}
.nt_area {position:absolute;top:50%;left:50%;width:500px;height:500px;padding:10px;border:1px solid #ff0000;background:#fff;overflow-y:auto}
#nt_close {display:block;width:18px;height:17px;background:url("./images/img_common.gif") no-repeat 0 -370px;text-indent:-9000px;cursor:pointer}

.n_subject {padding:8px 3px;border-top:2px solid #666;border-bottom:1px solid #e5e5e5}
.n_content {height:400px;padding:8px 3px}

.ri_layer {display:none;position:fixed;_position:absolute;top:0;left:0;width:100%;height:100%;z-index:10000}
.ri_layer .ri_bg {position:absolute;top:0;left:0;width:100%;height:100%;background:#000;opacity:.5;filter:alpha(opacity=50)}
.ri_area {position:absolute;top:50%;left:50%;width:500px;height:500px;padding:10px;border:2px solid #ff0000;background:#fff;overflow-y:auto}
#ri_close {display:block;width:18px;height:17px;background:url("./images/img_common.gif") no-repeat 0 -370px;text-indent:-9000px;cursor:pointer}

#rmsg {display:none;position:absolute;top:100px;left:125px;width:500px;height:100px;border:2px solid #ff0000;background:#fff;font-size:14px;font-weight:bold;text-align:center;line-height:100px;z-index:100}
#rmap {position:relative;width:100%;min-height:300px;border:1px solid #000;background:#666}

.z_zone {float:left;margin:5px;padding:3px;border-radius:4px;border:1px solid #000;background-color:#000;color:#fff;font-size:14px;cursor:pointer}

.z_room {float:left;position:absolute;border-radius:4px;background-color:#31343c;overflow:hidden;cursor:default}
.z_room.rcpt {background-color:#ff3932}
.z_room.rsby {background-color:#4376e6}
.z_room.telq {background-color:#91268f}
.z_room.rdcr {background-color:#51ac00}
.z_room label {float:left}
.z_room label span {display:block;padding:3px;color:#fff;text-align:center}
.z_room label input {position:absolute;top:-20px}
.z_room input:checked + span {border-radius:4px;border:1px solid #000;background-color:#faed7d;color:#000}
.z_room input.checked + span {border-radius:4px;border:1px solid #000;background-color:#faed7d;color:#000}

.rm_btn {display:block;width:18px;height:17px;margin-left:5px;background:url("./images/img_common.gif") no-repeat 0 -370px;text-indent:-9000px;cursor:pointer}

.ui-effects-transfer {border:1px solid #666}

.tbl_mini_line {}

.tbl_mini_cal, .tbl_mini_cal th, .tbl_mini_cal td {border:0}
.tbl_mini_cal {width:460px;border-collapse:collapse; border: 1px solid #e6e5e5;}
.tbl_mini_cal th {width:30px;padding:7px 0; background-color:#f4f4f4;font-weight:bold;text-align:center; height: 40px;}
.tbl_mini_cal td {height:50px; vertical-align:middle}
.tbl_mini_cal td.blank_box {background:#f6f6f6}

.tbl_ntc, .tbl_ntc th, .tbl_ntc td {border:0}
.tbl_ntc {width:100%}
.tbl_ntc th {padding:10px 2px;background-color:#f5f7f9;font-weight:bold;text-align:center}
.tbl_ntc td {padding:10px 2px;border-top:1px solid #d9d9d9;text-align:center}
.tbl_ntc td.tleft {text-align:left}

.tbl_list, .tbl_list th, .tbl_list td {border:0}
.tbl_list {width:100%;border-collapse:collapse;font-family: '돋움'; }
.tbl_list th {border-top:1px solid #333333; line-height: 30px;  background-color: #f4f4f4;}
.tbl_list td {padding:10px 5px;border-bottom:1px solid #d9d9d9;text-align:center; color: #333333}
.tbl_list td span.lineht {line-height:20px}
.tbl_list td.tleft {text-align:left}

.r2bak {padding:5px}

.tbl_prc, .tbl_prc th, .tbl_prc td {border:0}
.tbl_prc {width:320px;border-collapse:collapse}
.tbl_prc th {padding:5px 2px;border-top:1px solid #d9d9d9;border-right:1px solid #d9d9d9;border-left:1px solid #d9d9d9;background-color:#f4f4f4;font-weight:bold;text-align:center}
.tbl_prc td {padding:2px 2px;border:1px solid #d9d9d9;text-align:center}

#rp_wrap {min-width:500px}
#rp_container {width:500px;margin:0 auto}

.gallery_box {width:500px;height:300px;border:1px solid #666}
#slideshow {position:relative;width:500px;height:300px;}
#slideshow #slidesContainer {position:relative;width:500px;height:300px;overflow:auto;}
#slideshow #slidesContainer .slide {margin:0 auto;width:480px;height:300px;}
.control {display:block;position:absolute;width:43px;height:43px;text-indent:-10000px;cursor:pointer;}
#leftControl {top:120px;left:0;background:transparent url(./images/back.png) no-repeat 0 0;z-index:1;}
#rightControl {top:120px;right:0;background:transparent url(./images/forward.png) no-repeat 0 0;z-index:1;}
.slide img {float:right;margin:0;}

.ri_box {width:500px;margin-top:10px;border-top:2px solid #666;border-bottom:1px solid #e5e5e5}
.tbl_rom, .tbl_rom th, .tbl_rom td {border:0}
.tbl_rom {width:500px}
.tbl_rom th {width:100px;padding:10px 10px;border-bottom:1px solid #e5e5e5;background-color:#f5f7f9;text-align:left;font-weight:bold}
.tbl_rom td {width:400px;padding:5px 10px;border-bottom:1px solid #e5e5e5;text-align:left}

.tbl_pif, .tbl_pif th, .tbl_pif td {border:0}
.tbl_pif {width:100%}
.tbl_pif td {padding:10px 10px;border-bottom:1px solid #e5e5e5;border-left:1px solid #e5e5e5;font-weight:bold;letter-spacing:-1px;text-align:right}
.tbl_pif td.first {border-left:0;background-color:#f4f4f4;text-align:left}
.tbl_pif td.first .sbj {padding-left:20px}
.tbl_pif td.last {text-align:left}
.tbl_pif td .input_typ {padding:3px 1px;border:1px solid #b7b7b7;border-right-color:#e1e1e1;border-bottom-color:#e1e1e1;background:#fff;text-align:right}
#dc_box {display:none}

.tbl_rif, .tbl_rif th, .tbl_rif td {border:0}
.tbl_rif {width:100%}
.tbl_rif th {width:170px;padding:10px 10px;border-bottom:1px solid #e5e5e5;background-color:#f4f4f4;font-weight:bold;text-align:left}
.tbl_rif td {width:580px;padding:5px 10px;border-bottom:1px solid #e5e5e5;text-align:left}
.tbl_rif td .text_typ {padding:3px 4px;border:1px solid #b7b7b7;border-right-color:#e1e1e1;border-bottom-color:#e1e1e1}

.ccl_att {margin:10px 5px 0}

.chg_line {padding:10px 10px;border:1px solid #e5e5e5}

.tbl_chg, .tbl_chg th, .tbl_chg td {border:0}
.tbl_chg {width:725px;margin:10px 0 10px;border-collapse:collapse}
.tbl_chg th {padding:7px 2px;border-top:1px solid #e5e5e5;border-right:1px solid #e5e5e5;border-left:1px solid #e5e5e5;background-color:#f5f7f9;font-weight:bold;text-align:center}
.tbl_chg td {padding:5px 2px;border:1px solid #e5e5e5;text-align:center}

.chg_sbj {margin-left:5px;font-weight:bold;text-decoration:underline}

.poli {margin-top:10px}
.poli .sbj {margin-left:5px;font-weight:bold;text-decoration:underline}
.poli .poli_box {position:relative;margin-top:10px;padding:5px 5px;border:8px solid #e6e6e6}
.poli .poli_box .poli_contents {position:relative;height:140px;overflow:auto}

.rs_stop {margin:200px 0;font-size:20px;font-weight:bold;text-align:center}


.info_pay ul li {float:left; width:50%;}
.info_pay li { line-height:40px; text-align:center; font-size:14px; font-weight:800; background-color:#f4f4f4;} 


#footer {clear:both;margin-top:20px;padding:15px 0 50px;border-top:1px solid #dcdcdc;text-align:center}
#footer a {color:#666;text-decoration:none}
#footer ul {margin-bottom:10px}
#footer ul li {display:inline;padding:0 5px 0 7px;background:url("./images/img_common.gif") no-repeat 0 -98px;white-space:nowrap}
#footer ul li a {letter-spacing:-1px}
#footer ul li.frst {background:none;padding-right:5px}
#footer address {font-size:9px}
#footer address a {color:#A1A1A1;font-family:Tahoma;font-weight:bold}
#footer address span {color:#A1A1A1;font-family:Verdana}
#footer address em {color:#A1A1A1;font-family:Verdana;font-style:normal;padding-left:5px}
#footer address .b_logo {display:inline-block;position:relative;top:2px;width:66px;height:11px;vertical-align:top;overflow:hidden}
#footer address .b_logo .b_logo_img {display:block;width:100px;height:100px;background:url("./images/img_common.gif") no-repeat 0 -65px;text-indent:-1000px;cursor:pointer}
